* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */
a {
    color: white;
}
a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
/* normalize */
/* Main */
body {
    background-color: #090909;
;
}

::placeholder {
    color: #FFF;
    font-family: Google Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main--registration{
    width: 100%;
    height: 100vh;
    background-image: url(./image/background.svg);
    background-size: cover;

}
.main_form {
   z-index: 1000;
   display: flex;
   align-items: center;
   justify-content: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.main_form::after {
    position: absolute;
    content: "";
    width: 1200px;
    height: 200%;
    left: -79%;
    border-radius: 70%;
    background: radial-gradient(50% 50% at 50% 50%, #000 54.02%, rgba(0, 0, 0, 0.00) 100%);
}

.form {
    display: flex;
    flex-direction: column;
    width: 468px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101010;
    color: white;
    top: 45%;
    left: 30%;
    z-index: 1;
}
.form_login {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 55px;
}
.login_autr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border-radius: 1000px 0 0 1000px;
    background-color: #1D1D1D;
    color: #FFF;
    text-align: center;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login_reg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    border-radius: 0 1000px 1000px 0;
    background-color: #1D1D1D;
    color: #FFF;
    text-align: center;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login-active {
    width: 180px;
    height: 60px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form_input {
    display: block;
    width: 360px;
    margin-top: 21px;
    padding: 21px 0 16px 19px;
    border-bottom: 1px solid #8D8D8D;
    color: #FFF;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form_btn {
    width: 360px;
    margin: 45px 0 55px;
}
.button_user {
    background: #181818;
    border-radius: 12px 12px 0 0;
    padding: 14px 17px 14px 16px;
    display: flex;
    justify-content: space-between;

}
.button_submit {
    background: #1D1D1D;
    border-radius: 0 0 12px 12px;
    padding: 14px 17px 14px 16px;
    color: #FFF;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.user__link {
    color: #FFF;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.link___el {
    color: #FFF;
    font-family: 'Product Sans Black', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Rectangle {
    position: absolute;
    z-index: 0;
    height: 100%;
}
.submit__title {
    color: #FFF;
    font-family: 'Product Sans Medium', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 468px;

    margin: 0 auto;
    z-index: 1;
    color: #FFF;
    background: #101010;
    border-radius: 40px;
}
.reg_title {
    width: 357px;
    color: #6E6E6E;
    text-align: center;
    font-family: Google Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 47px 0 41px 0;
    
}

.reg_repass {
    margin: 0 0 56px 0;
}
.reg_button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 360px;
    padding: 13px 0 13px 17px;
    margin: 56px 0 52px 0;
    border-radius: 0 0 12px 12px;
    background: #1D1D1D;
    color: #FFF;
    font-family: Google Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reg_quest {
    color: #6E6E6E;
    text-align: center;
    font-family: Google Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 50px 0 48px 0;
}
.reg_name {
    margin: 41px 0 46px;
}
.logo {
    z-index: 1;
    position: absolute;
    bottom: 4%;
    left: 50%;

}
.logo_span {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: -194px;
    align-items: center;
    gap: 32px;
    transform: translateX(-50%);
    z-index: 1000;
    border-radius: 24px;
    background: #101010;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    color: #FFF;
    text-align: center;
    font-family: Google Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 17px 23px;
}




